<header class="ps-header">
<div class="ps-header__title">
<h1><a href="/proni" data-home>Independent PRONI Search</a></h1>
<p>An app made by Civgraph</p>
</div>
<a class="ps-provided" href="https://civgraph.net" target="_blank" rel="noopener" aria-label="Provided by Civgraph, using PRONI data">
<span class="ps-provided__by">provided by</span>
<img class="ps-provided__logo" src="/apps/proni-search/civgraph-navy.svg" alt="Civgraph" width="150" height="35">
<span class="ps-provided__note">using PRONI data</span>
</a>
</header>
