<footer class="ps-footer">
<p>Independent PRONI Search is an app created independently by Civgraph, which contains all 1,538,177 records
which exist on the official PRONI eCatalogue, while providing an easier user interface, powerful search
features, exportable spreadsheets of record data, and easily-shareable records.</p>
<p>Civgraph, and this app which it runs, are independent of, unassociated with, and not endorsed by the Public
Record Office of Northern Ireland. This app is not an official PRONI service.</p>
<p>You can find the official PRONI website
<a href="https://www.nidirect.gov.uk/proni" target="_blank" rel="noopener">here</a>, and the official PRONI
eCatalogue <a href="https://apps.proni.gov.uk/eCatNI_IE/SearchPage.aspx" target="_blank" rel="noopener">here</a>.</p>
<p>PRONI data is held under Crown copyright and used under the
<a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank" rel="noopener">Open Government Licence</a>.</p>
</footer>
