<footer class="ftr">
<div class="ftr__inner">
<div class="ftr__top">
<a aria-label="Civgraph home" class="ftr__brand" href="/">
<img alt="" class="ftr__logo" src="/assets/pages/img/bd2feea987bf.svg"/>
<span class="ftr__wordmark">Civgraph</span>
</a>
<nav aria-label="Footer navigation" class="ftr__nav">
<a href="/maps/">Maps</a>
<a href="/browse/">Browse</a>
<a href="/pages/about.html">About</a>
<a href="mailto:scott@civgraph.net?subject=Civgraph%20map%20submission&body=What%20the%20map%20shows%20%28the%20area%2C%20the%20subject%2C%20and%20the%20year%20or%20period%20it%20covers%29%3A%0A%0A%0AWhere%20it%20came%20from%20%28who%20made%20it%2C%20and%20where%20you%20got%20it%29%3A%0A%0A%0AWhat%20form%20it%20is%20in%20%28a%20scan%2C%20a%20PDF%2C%20a%20shapefile%2C%20GeoJSON%2C%20or%20something%20else%29%3A%0A%0A%0AWhether%20it%20can%20be%20republished%2C%20and%20under%20what%20licence%2C%20if%20you%20know%3A%0A%0A%0AYour%20name%2C%20if%20you%20would%20like%20the%20contribution%20credited%3A%0A%0A">Submit a map</a>
</nav>
</div>
<div class="ftr__rule"></div>
<div class="ftr__bottom">
<p class="ftr__tagline">All the data on Ireland’s history, geography, politics and demographics.</p>
<div class="ftr__meta">© Civgraph</div>
</div>
</div>
</footer>
